<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      <add key="ParentTable" value="NationalTeam"/>
      <add key="ChildTable" value="Athlete"/>
      <add key="ParentKey" value="NTID"/>
      <add key="ChildKey" value="NTID"/>
      <add key="relationName" value="FK_Athlete_NTID"/>
      -->
    <add key="ParentTable" value="TournamentType"/>
    <add key="ChildTable" value="Tournament"/>
    <add key="ParentKey" value="TTID"/>
    <add key="ChildKey" value="TTID"/>
    <add key="relationName" value="FK_COACH_CCID"/>
    <add key="insertCommand" value="INSERT INTO Coach (CID,NAME,AGE,SPECIALIZATION,CCID) VALUES (@CID,@NAME,@AGE,@SPECIALIZATION,@CCID)"/>
    <add key="deleteCommand" value="DELETE FROM Coach WHERE CID=@CID"/>
    <add key="updateCommand" value="UPDATE Coach SET NAME=@NAME,AGE=@AGE,SPECIALIZATION=@SPECIALIZATION,CCID=@CCID WHERE CID=@CID"/>
    <add key ="values" value="etc1"/>
  </appSettings>
</configuration>